html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

:root {
  --color-background: #fbf9f4;
  --color-on-background: #1b1c19;
  --font-family-body: "Manrope", sans-serif;
  --font-family-headline: "Noto Serif", serif;
}

body {
  font-family: var(--font-family-body);
  background-color: var(--color-background);
  color: var(--color-on-background);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family-headline);
}
